<div class="container">
  <div class="row">
    <div class="col-md-12">
      <footer class="my-5">
        <div class="copyright text-center text-muted">
          <%= t('developed_by') %>
          <a href="https://www.wavemind.ch" class="font-weight-bold ml-1">
            Wavemind Sàrl
          </a>
          &copy; <%= Time.zone.today.year %>
        </div>
      </footer>
    </div>
  </div>
</div>
