<div id="outer">
  <div id="container">
    <%= image_tag 'logo.png', height:'50' %>
    <h1 class="big">500</h1>
    <div id="error-content">
      <h1>Désolé, une erreur interne est survenue.</h1>
      <p>Nous avons été informés automatiquement du problème que vous venez de rencontrer et nous nous chargeons d'y remédier dans nos meilleurs délais. Veuillez cliquer sur le lien ci-dessous pour retourner au menu principal."</p>
      <div class="btn btn-red btn-block">
        <%= link_to 'Retourner au site', root_url %>
      </div>
    </div>
  </div>
</div>
